* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}


#Encabezado {
    text-align: center;
}

#AlumnoEncabezado
{
    text-align: center;
}

#theliminar {
    color: red;
}

#theditar {
    color: green;
}

#Actualizar {
    color: blue;
}

#btnagg
{
    font-size: 20px;
    padding:3px 9px;
}

#foto {
    display: block;
    margin: auto;
}

#TablaAlumnos
{
    font-style: italic;
    font-size: 40px;
}

