#cad1 {
  background: wheat;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

#cad2 {
  background: wheat;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

* {
  background: red;
}

#btnProcesar {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: black;
  color: white;
  margin-top: 20px;
}
