body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://i.imgur.com/sONIASQ.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
}